In [1]:
from ggpy._na import NA
from ggpy.utilities import remove_missing, finite_cases, complete_cases
import pandas as pd

In [2]:
df = pd.DataFrame({'a': (0, 1, NA, 3, 4, 5, 6, 7, 8, 9, NA), 
                   'b': (0, .1, .2, .3, .4, NA, .6, .7, .8, .9, NA)})
df

      a    b
0   0.0  0.0
1   1.0  0.1
2   NaN  0.2
3   3.0  0.3
4   4.0  0.4
5   5.0  NaN
6   6.0  0.6
7   7.0  0.7
8   8.0  0.8
9   9.0  0.9
10  NaN  NaN

In [3]:
finite_cases(df)

array([ True,  True, False,  True,  True, False,  True,  True,  True,
        True, False], dtype=bool)

In [4]:
remove_missing(df, finite=True)

/Users/dewey/d/python/ggpy/ggpy/utilities.py:56: UserWarning: Removed 3 non-finite cases ()
  warnings.warn(msg)

     a    b
0  0.0  0.0
1  1.0  0.1
3  3.0  0.3
4  4.0  0.4
6  6.0  0.6
7  7.0  0.7
8  8.0  0.8
9  9.0  0.9

In [5]:
df['c'] = pd.Series(['fish', 'in', 'sea', 'fish', 'in', 'sea', 'fish', 'in', 'sea', NA, 'in'], dtype='category')
finite_cases(df)

array([False, False, False, False, False, False, False, False, False,
       False, False], dtype=bool)

In [6]:
complete_cases(df)

array([ True,  True, False,  True,  True, False,  True,  True,  True,
       False, False], dtype=bool)

In [7]:
remove_missing(df)

/Users/dewey/d/python/ggpy/ggpy/utilities.py:56: UserWarning: Removed 4 missing cases ()
  warnings.warn(msg)

     a    b     c
0  0.0  0.0  fish
1  1.0  0.1    in
3  3.0  0.3  fish
4  4.0  0.4    in
6  6.0  0.6  fish
7  7.0  0.7    in
8  8.0  0.8   sea

In [8]:
remove_missing(df, finite=True)

/Users/dewey/d/python/ggpy/ggpy/utilities.py:56: UserWarning: Removed 11 non-finite cases ()
  warnings.warn(msg)

Empty DataFrame
Columns: [a, b, c]
Index: []

In [12]:
# now test stats
from ggpy.stat import StatIdentity
# need dummy panel class to test
class Panels(object):
    def __init__(self):
        pass
    def scales(*args):
        return None

In [10]:
stat = StatIdentity()
stat.required_aes = ('x', 'y')
df = pd.DataFrame({'x':(1,2,3,4), 'y':(5,6,7,8), 'PANEL':(1,1,1,1), 'group':(1, 1, 2, 2)})
df

   PANEL  group  x  y
0      1      1  1  5
1      1      1  2  6
2      1      2  3  7
3      1      2  4  8

In [14]:
stat.compute_layer(df, {'na_rm': True}, Panels())

   PANEL  group  x  y
0      1      1  1  5
1      1      1  2  6
2      1      2  3  7
3      1      2  4  8

In [15]:
df['x'] = (1, 2, NA, 2)
stat.compute_layer(df, {'na_rm': True}, Panels())

   PANEL  group    x  y
0      1      1  1.0  5
1      1      1  2.0  6
3      1      2  2.0  8

   index  PANEL  group    x  y
0      0      1      1  1.0  5
1      1      1      1  2.0  6
2      2      1      2  NaN  7
3      3      1      2  2.0  8